{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        <span style="font-size: 1em"  >用户:已写入SQLite数据库中</span>
        {% else %}
            请点击登陆->注册->写入用户数据库!
        {% endif %}!</h1>
    <h1>您好, {% if name %}{{ name }}{% else %}陌生人{% endif %}!</h1>
    {% if not known %}
    <h2>您好,您应该是第一次登记呢!</h2>
    {% else %}
    <h2>您好,您应该之前已经来过我的博客啦!</h2>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
